*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(0, 238, 255);
    color: rgb(0, 255, 170);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(0, 238, 255,0, 255, 170);
    color: aliceblue;
    display: flex;
}